[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "==3.6.4"
future = "==0.16.0"
Pillow = "==3.4.1"
click = "==7.0"

[dev-packages]

[requires]
python_version = "3.6"
