[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
future = "==0.16.0"
Pillow = "==3.4.1"
click = "==7.0"
requests = "==2.22.0"
beautifulsoup4 = "==4.8.0"

[dev-packages]

[requires]
python_version = "3.6"
